/* Title */

.title {
    display: flex;
}

.container {
    margin: auto;
}

.title h1 {
    font-family: 'Abril Fatface', cursive;
}

.title p {
    font-family: 'Redressed', cursive;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* Text */

.text {
    display: flex;
}

.text p {
    font-family: 'Yellowtail', cursive;
}