/* Global */

body {
    background: #d5b59c;
}

.container {
    margin: auto;
}

/* Title */

.title {
    display: flex;
}

.title h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
}

.title p {
    font-family: 'Redressed', cursive;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* Text */

.text {
    display: flex;
}

.text p {
    font-family: 'Yellowtail', cursive;
    font-size: 20px;
}